<div class="card">
    <div class="card-header bg-transparent">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="custom-page-title mb-0">
                    <i class="fa fa-tags me-2" style="color: #3a416f !important;"></i> {{ '::Membership Types' | abpLocalization }}
                </h2>
                <small class="text-muted">Manage your official membership classifications</small>
            </div>
            <div class="col-auto">
                <button *abpPermission="'Membership.MembershipTypes.Create'" id="create" class="btn btn-primary"
                    type="button" (click)="createMembershipType()">
                    <i class="fa fa-plus me-1"></i>
                    <span>{{ '::Add Membership Type' | abpLocalization }}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ngx-datatable [rows]="membershipType.items" [count]="membershipType.totalCount" [list]="list" default
            class="material">
            <ngx-datatable-column [name]="'::Name' | abpLocalization" prop="name"
                [maxWidth]="150"></ngx-datatable-column>
            <ngx-datatable-column [name]="'::Description' | abpLocalization" prop="description"></ngx-datatable-column>
            <ngx-datatable-column *ngIf="canManage" [name]="'::Actions' | abpLocalization" [maxWidth]="200"
                [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <div ngbDropdown container="body" class="d-inline-block">
                        <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" ngbDropdownToggle>
                            <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
                        </button>
                        <div ngbDropdownMenu>
                            <button *abpPermission="'Membership.MembershipTypes.Edit'" ngbDropdownItem
                                (click)="editMembershipType(row.id)">
                                {{ '::Edit' | abpLocalization }}
                            </button>
                            <button *abpPermission="'Membership.MembershipTypes.Delete'" ngbDropdownItem
                                (click)="delete(row.id)">
                                {{ '::Delete' | abpLocalization }}
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
        <h3>{{ (selectedMembershipType.id ? '::Edit' : '::Add Membership Type') | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
                <label for="mt-id">ID</label>
                <input type="text" id="mt-id" class="form-control" formControlName="id"
                    [readonly]="selectedMembershipType.id" />
            </div>
            <div class="form-group mt-2">
                <label for="mt-name">Name</label><span> * </span>
                <input type="text" id="mt-name" class="form-control" formControlName="name" autofocus />
            </div>
            <div class="form-group mt-2">
                <label for="mt-desc">Description</label>
                <input type="text" id="mt-desc" class="form-control" formControlName="description" />
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
            {{ '::Cancel' | abpLocalization }}
        </button>
        <button
            *abpPermission="selectedMembershipType.id ? 'Membership.MembershipTypes.Edit' : 'Membership.MembershipTypes.Create'"
            class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
            <i class="fa fa-check me-1"></i>
            {{ '::Save' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>